.sa-modal__text {
  display: inline;
}

.sa-modal__button {
  border: none;
  vertical-align: middle;
  background-color: transparent;
  cursor: pointer;
}

.sa-modal__button--decline,
.sa-modal__button--accept {
  display: inline-block;
  width: 22px;
  height: 22px;
  border-radius: 11px;
  position: relative;
}

.sa-modal__button--accept {
  background-color: rgb(0, 167, 0);
}

.sa-modal__button--accept:hover {
  transition: all 250ms ease;
  background-color: rgb(0, 122, 0);
}

.sa-modal__button--accept::before,
.sa-modal__button--accept::after {
  content: '';
  background-color: white;
  position: absolute;
  width: 2px;
}

.sa-modal__button--accept::before {
  left: 12px;
  top: 7px;
  height: 8px;
}

.sa-modal__button--accept::after {
  left: 8px;
  height: 5px;
  top: 9px;
}

.sa-modal__button--decline::before,
.sa-modal__button--decline::after {
  content: '';
  background-color: white;
  position: absolute;
  top: 6px;
  left: 10px;
  height: 10px;
  width: 2px;
}

.sa-modal__button--decline {
  background-color: red;
}

.sa-modal__button--decline:hover {
  transition: all 250ms ease;
  background-color: rgb(163, 4, 4);
}

.sa-modal__button--decline::before,
.sa-modal__button--accept::before {
  transform: rotate(45deg);
}

.sa-modal__button--decline::after,
.sa-modal__button--accept::after {
  transform: rotate(-45deg);
}


.sa-modal__button--decline {
  width: 22px;
  height: 22px;
  background-color: red;
  border-radius: 50%;
}

.close {
  height: 10px;
  width: 3px;
  margin-left: 2px;
  background-color: white;
  transform: rotate(45deg);
  z-index: 1;
  margin-top: 5px;
  display: inline-block;
}

.close__inner {
  height: 10px;
  width: 3px;
  background-color: white;
  transform: rotate(90deg);
  z-index: 2;
  margin-bottom: 5px;
  display: inline-block;
}
